In [20]:
# Useful starting lines
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import datetime
from implementations import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
x_train, x_test, y_train, train_ids, test_ids = load_csv_data("data")

print(f"The data has {x_train.shape[0]} samples and {x_train.shape[1]} features !")

The data has 328135 samples and 321 features !

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(x_train)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,320
0,53.0,11.0,11162015.0,11.0,16.0,2015.0,1100.0,2.015016e+09,2.015016e+09,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
1,33.0,12.0,12152015.0,12.0,15.0,2015.0,1200.0,2.015004e+09,2.015004e+09,1.0,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN

In [24]:
df2 = pd.DataFrame(y_train)
df2.head(2)

   0
0 -1
1 -1

In [34]:
df3 = pd.merge(df2, df, left_index=True, right_index=True)
df3.head()

,0_x,0_y,1,2,3,4,5,6,7,8,...,311,312,313,314,315,316,317,318,319,320
0,-1,53.0,11.0,11162015.0,11.0,16.0,2015.0,1100.0,2.015016e+09,2.015016e+09,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
1,-1,33.0,12.0,12152015.0,12.0,15.0,2015.0,1200.0,2.015004e+09,2.015004e+09,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN
2,-1,20.0,10.0,10202015.0,10.0,20.0,2015.0,1100.0,2.015006e+09,2.015006e+09,...,4.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,2.0
3,-1,42.0,6.0,6182015.0,6.0,18.0,2015.0,1100.0,2.015005e+09,2.015005e+09,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0
4,-1,24.0,11.0,11062015.0,11.0,6.0,2015.0,1100.0,2.015005e+09,2.015005e+09,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,9.0,9.0,2.0

In [37]:
corr = df3.corr()['0_x'].sort_values(ascending=False)

In [39]:
corr.head(20)

0_x    1.000000
26     0.244269
248    0.224547
246    0.219007
58     0.207186
249    0.206873
231    0.196424
247    0.185245
230    0.171599
232    0.171319
162    0.119826
59     0.114094
173    0.111703
190    0.110889
234    0.110768
289    0.109304
61     0.108637
223    0.095326
77     0.087310
127    0.080705
Name: 0_x, dtype: float64

In [42]:
corr.tail(25)

27    -0.097377
158   -0.098124
213   -0.098230
39    -0.101266
103   -0.103427
138   -0.104475
38    -0.113903
65    -0.114686
147   -0.117878
45    -0.121990
69    -0.134324
66    -0.134772
144   -0.143087
48    -0.161344
238   -0.168366
34    -0.204504
157   -0.227662
14    -0.232173
9           NaN
11          NaN
12          NaN
18          NaN
19          NaN
22          NaN
155         NaN
Name: 0_x, dtype: float64

In [ ]:
corr_idx = [26, 248, 246, 58, 249, 231, 247, 230, 232, 162, 59, 173, 190, 234, 289, 
           39, 103, 138, 38, 65, 147, 45, 69, 66, 144, 48, 238, 34, 157, 14]

x_train = x_train[:, corr_idx]

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from statsmodels.stats import diagnostic
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [16]:
data_folder = './data/'
df_x = pd.read_csv(data_folder + 'x_train.csv')

In [21]:
df_y = pd.read_csv(data_folder + 'y_train.csv')

In [42]:
df = df_y.merge(df_x, on='Id')

In [ ]:
corr_idx = [26, 248, 246, 58, 249, 231, 247, 230, 232, 162, 59, 173, 190, 234, 289, 
           39, 103, 138, 38, 65, 147, 45, 69, 66, 144, 48, 238, 34, 157]

In [50]:
cat_df = [26, 58, 231, 247, 230, 232, 162, 173, 190, 234, 289, 39, 
          103, 138, 38, 65, 45, 69, 66, 144, 48, 34, 238, 157]
con_df = [248, 246, 249, 59, 147 ]

In [61]:
df.head(1)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,11,11162015,11,16,2015,1100,2015015629,2015015629,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0

In [63]:
column_name = df.columns[cat_df]
print(column_name)

Index(['GENHLTH', 'EMPLOY1', '_HCVU651', '_AGE65YR', '_RFHLTH', '_RFHYPE5',
       'ARTTODAY', 'LASTPAP2', 'PCPSADE1', '_RFCHOL', 'ACTIN11_', 'CVDSTRK3',
       'PNEUVAC3', 'CDASSIST', 'TOLDHI2', 'QLACTLM2', 'HAVARTH3', 'DIFFWALK'],
      dtype='object')

In [64]:
column_name = df.columns[con_df]
print(column_name)

Index(['_AGE80', '_AGEG5YR', '_AGE_G', 'CHILDREN', 'ASERVIST'], dtype='object')

In [ ]:
mod = smf.ols(formula='time ~ C(high_blood_pressure) * C(DEATH_EVENT,  Treatment(reference=0)) + C(diabetes)',
              data=df)


res = mod.fit()

print(res.summary())