In [3]:
# Useful starting lines
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import datetime
from implementations import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
x_train, x_test, y_train, train_ids, test_ids = load_csv_data("data")

print(f"The data has {x_train.shape[0]} samples and {x_train.shape[1]} features !")

The data has 328135 samples and 321 features !

In [9]:
xt_feat = x_train
xt_feat = preprocessing(x_train)
xt_feat = gen_clean(xt_feat, [], np.arange(321))
y_train[y_train == -1] = 0

In [18]:
from scipy import stats

r_val = np.array([])
p_val = np.array([])

for col_index in range(1, xt_feat.shape[1]):
    
    data_column = xt_feat[:, col_index]
    r, p_value = stats.pointbiserialr(y_train, data_column)
    r_val = np.append(r_val, r)
    p_val = np.append(p_val, p_value)

In [24]:
indices = np.where(r_val < 0.05)

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(x_train)
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,320
0,53.0,11.0,11162015.0,11.0,16.0,2015.0,1100.0,2.015016e+09,2.015016e+09,NaN,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
1,33.0,12.0,12152015.0,12.0,15.0,2015.0,1200.0,2.015004e+09,2.015004e+09,1.0,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN

In [6]:
df2 = pd.DataFrame(y_train)
df2.head(2)

   0
0 -1
1 -1

In [7]:
df3 = pd.merge(df2, df, left_index=True, right_index=True)
df3.head()

,0_x,0_y,1,2,3,4,5,6,7,8,...,311,312,313,314,315,316,317,318,319,320
0,-1,53.0,11.0,11162015.0,11.0,16.0,2015.0,1100.0,2.015016e+09,2.015016e+09,...,1.0,1.0,3.0,3.0,4.0,1.0,1.0,NaN,NaN,2.0
1,-1,33.0,12.0,12152015.0,12.0,15.0,2015.0,1200.0,2.015004e+09,2.015004e+09,...,9.0,9.0,3.0,3.0,4.0,9.0,9.0,NaN,NaN,NaN
2,-1,20.0,10.0,10202015.0,10.0,20.0,2015.0,1100.0,2.015006e+09,2.015006e+09,...,4.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,2.0
3,-1,42.0,6.0,6182015.0,6.0,18.0,2015.0,1100.0,2.015005e+09,2.015005e+09,...,2.0,2.0,2.0,2.0,3.0,1.0,1.0,2.0,2.0,2.0
4,-1,24.0,11.0,11062015.0,11.0,6.0,2015.0,1100.0,2.015005e+09,2.015005e+09,...,9.0,9.0,3.0,3.0,4.0,1.0,1.0,9.0,9.0,2.0

In [8]:
corr = df3.corr()['0_x'].sort_values(ascending=False)

In [ ]:
corr_idx = [26, 248, 246, 58, 249, 231, 247, 230, 232, 162, 59, 173, 190, 234, 289, 
           39, 103, 138, 38, 65, 147, 45, 69, 66, 144, 48, 238, 34, 157, 14]

In [36]:
my_corr = [20, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
           40, 41, 42, 43, 43, 44, 45, 46, 47, 48, 49, 50, 57, 58, 60,
          61, 64, 66, 69, 70, 71, 81, 82, 84, 87, 90, 92, 93, 95, 98, 
          100, 103, 108, 109, 112, 125, 136, 138, 144, 157, 166, 167, 
          169, 230, 231, 232, 234, 237, 238, 248, 253, 257, 258, 259,
          260, 264, 266, 268, 269, 276, 277, 287, 304, 318, 319, 320]

In [24]:
df_mine = df.loc[:, (my_corr)]
df_mine.head(1)

,20,26,27,28,29,30,31,32,33,34,...,266,268,269,276,277,287,304,318,319,320
0,2.0,2.0,1.0,5.0,88.0,1.0,1.0,2.0,1.0,3.0,...,0.0,0.13,0.1,0.71,1.21,26.91,0.0,NaN,NaN,2.0

In [25]:
df4 = pd.merge(df2, df_mine, left_index=True, right_index=True)
df4.head()

,0,20,26,27,28,29,30,31,32,33,...,266,268,269,276,277,287,304,318,319,320
0,-1,2.0,2.0,1.0,5.0,88.0,1.0,1.0,2.0,1.0,...,0.00,0.13,0.10,0.71,1.21,26.91,0.0,NaN,NaN,2.0
1,-1,NaN,4.0,88.0,88.0,NaN,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,28.65,NaN,NaN,NaN,NaN
2,-1,NaN,2.0,77.0,77.0,88.0,1.0,1.0,2.0,1.0,...,0.03,0.43,1.00,2.03,2.86,23.95,0.0,1.0,2.0,2.0
3,-1,2.0,1.0,88.0,88.0,NaN,1.0,1.0,2.0,1.0,...,0.00,0.07,1.00,0.00,2.78,23.95,780.0,2.0,2.0,2.0
4,-1,NaN,2.0,88.0,88.0,NaN,1.0,9.0,2.0,1.0,...,1.00,0.50,0.13,1.50,1.73,999.00,NaN,9.0,9.0,2.0

In [30]:
corr = df4.corr().loc[:, 0].sort_values(ascending=False)

In [47]:
corr.head(11)

0      1.000000
26     0.244269
248    0.224547
58     0.207186
231    0.196424
230    0.171599
232    0.171319
234    0.110768
61     0.108637
304    0.062200
253    0.054293
Name: 0, dtype: float64

In [46]:
corr.tail(34)

47    -0.050310
36    -0.051093
258   -0.051924
33    -0.052416
100   -0.053347
29    -0.056314
42    -0.056890
70    -0.057820
43    -0.059604
43    -0.059604
95    -0.060897
108   -0.061285
20    -0.064076
71    -0.068031
50    -0.070946
37    -0.071469
257   -0.078857
35    -0.081600
44    -0.085286
109   -0.088287
57    -0.090979
27    -0.097377
39    -0.101266
103   -0.103427
138   -0.104475
38    -0.113903
45    -0.121990
69    -0.134324
66    -0.134772
144   -0.143087
48    -0.161344
238   -0.168366
34    -0.204504
157   -0.227662
Name: 0, dtype: float64

In [50]:
feat = [20, 26, 27, 29, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 47, 48, 50, 57, 58, 61, 66, 69, 70, 
        71, 95, 100, 103, 108, 109, 138, 144, 157, 230, 231, 232, 234, 238, 248, 253, 257, 258, 304]

In [51]:
feat_cat = [20, 26, 33, 34, 35, 36, 37, 38, 39, 42, 43, 44, 45, 47, 48, 50, 57, 58, 61, 66, 69, 
            70, 71, 95, 100, 103, 108, 109, 138, 144, 157, 230, 231, 232, 234, 238, 257, 258]

feat_con = [27, 29, 248, 253, 304]

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from statsmodels.stats import diagnostic
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [16]:
data_folder = './data/'
df_x = pd.read_csv(data_folder + 'x_train.csv')

In [21]:
df_y = pd.read_csv(data_folder + 'y_train.csv')

In [42]:
df = df_y.merge(df_x, on='Id')

In [ ]:
corr_idx = [26, 248, 246, 58, 249, 231, 247, 230, 232, 162, 59, 173, 190, 234, 289, 
           39, 103, 138, 38, 65, 147, 45, 69, 66, 144, 48, 238, 34, 157]

In [50]:
cat_df = [26, 58, 231, 247, 230, 232, 162, 173, 190, 234, 289, 39, 
          103, 138, 38, 65, 45, 69, 66, 144, 48, 34, 238, 157]
con_df = [248, 246, 249, 59, 147 ]

In [61]:
df.head(1)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,11,11162015,11,16,2015,1100,2015015629,2015015629,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0

In [63]:
column_name = df.columns[cat_df]
print(column_name)

Index(['GENHLTH', 'EMPLOY1', '_HCVU651', '_AGE65YR', '_RFHLTH', '_RFHYPE5',
       'ARTTODAY', 'LASTPAP2', 'PCPSADE1', '_RFCHOL', 'ACTIN11_', 'CVDSTRK3',
       'PNEUVAC3', 'CDASSIST', 'TOLDHI2', 'QLACTLM2', 'HAVARTH3', 'DIFFWALK'],
      dtype='object')

In [64]:
column_name = df.columns[con_df]
print(column_name)

Index(['_AGE80', '_AGEG5YR', '_AGE_G', 'CHILDREN', 'ASERVIST'], dtype='object')

20 : CADULT **= GOOD**

26 : GENHLTH **= GOOD**

27 : PHYSHLTH **= GOOD**

28 : MENTHLTH **= GOOD**

29 : POORHLTH **= GOOD**

30 : HLTHPLN1 **= GOOD**

31 : PERSDOC2 **=GOOD**

32 : MEDCOST **= GOOD**

33 : CHECKUP1 **= GOOD**

34 : BPHIGH4 **= GOOD**

35 : BPMEDS **= GOOD**

36 : BLOODCHO **= GOOD**

37 : CHOLCHK **= GOOD**

38 : TOLDHI2 **= GOOD**

39 : CVDSTRK3 **= GOOD**

40 : ASTHMA3 **= GOOD**

41 : ASTHNOW **= GOOD**

42 : CHCSCNCR **= GOOD**

43 : CHCOCNCR **= GOOD**

44 : CHCCOPD1 **= GOOD**

45 : HAVARTH3 **= GOOD**

46 : ADDEPEV2  **= GOOD**

47 : CHCKIDNY **= GOOD**

48 : DIABETE3 **= GOOD**

49 : DIABAGE2 **= GOOD**

50 : SEX **= GOOD**

57 : VETERAN3 **= GOOD**

58 : EMPLOY1 **= GOOD**

59 : CHILDREN **= GOOD**

60 : INCOME2 **= GOOD**

61 : INTERNET **= GOOD**

64 : PREGNANT **= GOOD**

66 : USEEQUIP **= GOOD**

69 : DIFFWALK **= GOOD**

70 : DIFFDRES **= GOOD**

71 : DIFFALON **= GOOD**

81 : FRUITJU1 **= GOOD**

82 : FRUIT1 **= GOOD**

84 : FVGREEN **= GOOD**

87 : EXERANY2 **= GOOD**

90 : EXERHMM1 **= GOOD**

92 : EXEROFT2 **= GOOD**

93 : EXERHMM2 **= GOOD**

95 : LMTJOIN3 **= GOOD**

98 : JOINPAIN **= GOOD**

100 : FLUSHOT6 **= GOOD**

103 : PNEUVAC3 **= GOOD**

108 : PREDIAB1 **= GOOD**

109 : INSULIN **= GOOD**

112 : DOCTDIAB **= GOOD**

125 : CRGVMST2 **= GOOD**

136 : CIMEMLOS **= GOOD**

138 : CDASSIST **= GOOD**

144 : DRADVISE **= GOOD**

157 : CVDASPRN **= GOOD**

166 : TETANUS **= GOOD**

167 : HPVADVC2 **= GOOD**

169 : SHINGLE2 **= GOOD**

230 : _RFHLTH **= GOOD**

231 : _HCVU651 **= GOOD**

232 : _RFHYPE5 **= GOOD**

234 : _RFCHOL **= GOOD**

237 : _ASTHMS1 **= GOOD**

238 : _DRDXAR1 **= GOOD**

248 : _AGE80 **= GOOD**

253 : _BMI5 **= GOOD**

257 : _EDUCAG **= GOOD**

258 : _INCOMG **= GOOD**

259 : _SMOKER3 **= GOOD**

260 : _RFSMOK3 **= GOOD**

264 : _DRNKWEK **= GOOD**

266 : FTJUDA1_ **= GOOD**

268 : BEANDAY_ **= GOOD**

269 : GRENDAY_ **= GOOD**

276 : _FRUTSUM **= GOOD**

277 : _VEGESUM **= GOOD**

287 : MAXVO2_ **= GOOD**

304 : PA1VIGM_ **= GOOD**

318 : _FLSHOT6 **= GOOD**

319 : _PNEUMO2 **= GOOD**

320 : _AIDTST3 **= GOOD**